body {
  padding-top: 70px;
}

.hero {
  height: 90vh;
  background: linear-gradient(to right, #000428, #004e92);
  color: white;
  display: flex;
  align-items: center;
}

.hero span {
  color: #0d6efd;
}

.section {
  padding: 60px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

.skill {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-card {
  margin-bottom: 20px;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}
